*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
     height: 100vh;
     display:flex;
     justify-content: center;
     align-items: center;
     background: #4b4b6a;
}

 .calculator {
    width: 320px;
    background: #1f1f1f;
    padding: 20px;
    border-radius: 12px;
}

h1{
    text-align: center;
    color: #acacac;
    margin-bottom: 10px;
}

.buttons {  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
     
}

.calculator button {
  height: 60px;
  font-size: 18px;
  background:#2b2b2b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.display{
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: right;
  padding: 10px;
  border-radius: 6px;
  border: solid whitesmoke;
  background: #121212;
  color: white;
}

button:hover{
    background: #505050;
}

#operator {
    background: #ff9500;
}

#operator:hover {
    background: #e08900;
}

#equal {
    background: #00c853;
}

#equal:hover {
    background: #00b248;
}

#clear {
    background: #ff5252;
    grid-column: span 2;
}

#clear:hover {
    background: #e04848;
}

#zero{
     grid-column: span 2;
}